.button {
    width: 10rem;
    padding: 1rem;
    margin: .2rem;
    border-radius: .2rem;
    text-align: center;

    &--important {
        border: 1px solid aqua;
        background-color: aqua;
    }

    &--normal {
        border: 1px solid aqua;
        background-color: azure;
    }
    
    @media (max-width: 600px) {
        &--normal\@mobile {
            border: 1px solid aqua;
            background-color: azure;
        }
        &--important\@mobile {
            border: 1px solid aqua;
            background-color: aqua;
        }

    }
}
