.notice{
    margin: 1rem;
    &__title{

        &--size-xs{
            font-size: 20px;
        }
        &--size-xl{
            font-size: 40px;
        }
        &--color-important{
            color: blue;
        }
        &--color-default{
            color: aqua;
        }
        @media (max-width: 600px) {
            &--size-xs\@mobile{
                font-size: 20px;
            }
            &--size-xl\@mobile{
                font-size: 40px;
            }
            &--color-important\@mobile{
                color: blue;
            }
            &--color-default\@mobile{
                color: aqua;
            }
        }
    }
  
    &__text{
        color: blue;
        font-weight: bold;
    }
}
