.menu-Horizontal__item{

    background-color: white;
    border-radius: 140px 140px 140px 140px;
    font-weight: bold;
}
.menu-Horizontal__item--derecha{
    border-radius: 140px 140px 140px 140px;
    background-color: rgb(73, 81, 194);
    color: white;
}